* {
  font-family: 'Poppins', sans-serif;
}


::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #B3B3B3 !important;
  opacity: 1;
  /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #B3B3B3 !important;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #B3B3B3 !important;
}
.fa{
  font-size: 15px !important;
  margin-right: 2px;
}
.mirrorbanner-principal{
  visibility: visible; 
  z-index: -100; 
  position: fixed; 
  top: 0px; 
  left: 0px; 
  overflow: hidden; 
  transform: translate3d(0px, 0px, 0px); height: 850px;
  width: 100%;
  filter: brightness(0.7);
}
.etiqueta-new {
  position: absolute;
  background-image: url('https://mieventoapp.com/webroot/img/EtiquetaDiamante.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 60px; /* Ajusta según el tamaño de tu imagen */
  height: 60px; /* Ajusta según el tamaño de tu imagen */
  transform: rotate(345deg);
  margin-left: 5px;
  margin-top: -14px;
}
/*EFECTO PARALLAX*/
.parallax-element {
  will-change: transform;
}
.img-parallax{
  position: fixed; 
  opacity: 0.9; 
  left: 35%;
}
@media (max-width: 767px){
  .mirrorbanner-principal{
    left: -420px;
    z-index: -100;
    top: 0px;
    overflow: overlay;
    transform: translate3d(0px, 0px, 0px);
    height: 850px;
    width: 300%;
  }
  .etiqueta-new {
    width: 60px;
    height: 60px;
    margin-top: -18px;
  }
/*EFECTO PARALLAX*/
  .img-parallax{
    left: -38%;
  }
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  -webkit-transition: all 0.5s 0s ease;
  -moz-transition: all 0.5s 0s ease;
  -o-transition: all 0.5s 0s ease;
  transition: all 0.5s 0s ease;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

.btn-transparent-white {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  color: #fff;
  border: 1px solid #eee;
  background-color: transparent;
  padding: 10px 25px;
}

h1,
h2,
h3,
h4 {
  font-weight: 700;
}

.title {
  font-size: 45px;
  width: 100%;
  text-align: center;
  margin-bottom: 0;
}

p.sub-title {
  font-size: 18px;
  width: 100%;
  text-align: center;
  margin-top: 5px;
}

p {
  font-weight: 300;
}

.boton {
  font-weight: 700;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  padding: 12px 10px;
  font-size: 15px;
  border: 2px solid transparent;
  display: inline-block;
}

.boton-primario {
  color: #fff;
  font-weight: 700;
  width: 90%;
  display: inline-block;
  font-size: 15px;
  background: linear-gradient(180deg, #b2ffb8, #77dd77);
  text-shadow: 1px 1px 10px #000000a1;
}

.btnpaquetes {
  background: linear-gradient(181deg, #91f4ff, #5f6cd2);
  color: white;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  display: block;
  margin: 10px auto;
  width: 65%;
}
.microcopys{
  margin-bottom: 15px;
  color: #8a8a8a;
  font-style: italic;
  font-size: smaller;
}
.boton-primario:hover {
  background-color: #33911e;
  color: #fff;
}
.boton-secundario {
  background: linear-gradient(181deg, #fff591, #d2a35f);
  width: 100%;
}
.boton-secundario:hover {
  background-color: #895e1e;
  color: #fff;
}
.boton-secundarioxvs {
  background: linear-gradient(180deg, #ebb0f3, #8673a1);
  color: #fff;
  width: 100%;
}
.boton-secundarioxvs:hover {
  background-color: #4f0cac;
  color: #fff;
}
.modal {
  z-index: 9999;
  background-color: var(--color-bg-transparent);
}
.modal-transparent .modal-content {
  background: transparent;
  border: none;
}
.modal-transparent .close {
  color: var(--color-8);
  text-shadow: none;
  opacity: 1;
  position: absolute;
  right: 0;
  padding: 0;
}
.modal-transparent .modal-header,
.modal-transparent .modal-footer {
  border: none;
  padding: 0;
}

.modal-transparent .modal-header,
.modal-transparent .modal-body {
  padding: 5px 0 0 0;
}


.modal-transparent .modal-header,
.modal-transparent .modal-body p.sub-title-form {
  text-align: center;
  color: #fff;
  font-size: 14px;
}

.modal-transparent .modal-header h3 {
  color: #F2F2F2;
  text-align: center;
  width: 100%;
  margin-bottom: 0;
}

.modal-transparent .boton {
  padding: 15px 50px;
}

.modal form input,
.modal form textarea,
.modal form select {
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  padding: 10px 15px;
  color: #000;
  border: 3px solid transparent;
}

.modal form input,
.modal form select {
  height: calc(1.5em + .75rem + 16px);
}

#modal-form-solicitar-invitacion select {
  color: var(--color-7);
}

.modal form input:focus,
.modal form textarea:focus,
.modal form select:focus {
  border: 3px solid var(--color-8);
}

textarea {
  resize: none;
  overflow: auto;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent;
  background-image: url("../images/select-arrow.svg");
  background-repeat: no-repeat;
  background-position-x: 97%;
  background-position-y: 15px;
  background-size: 23px;
}

.error-form {
  width: 100%;
  text-align: center;
  color: var(--color-9);
}

.msj-contacto {
  color: #fff;
  font-size: 25px;
  width: 100%;
  text-align: center;
}

.msj-error {
  color: red;
  font-size: 15px;
  width: 100%;
  text-align: center;
}

/* Cambio de idiomas / paises */

.flags-laguages {
  padding: 30px;
}

.flags-laguages li a {
  display: inline-block;
  width: 35px;
  height: 35px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  margin: 10px 8px;
  opacity: 0.75;
  border: 2px solid #fff;
}

.flags-laguages li a:hover {
  opacity: 1;
}

/* .flags-laguages a.reset-lang{
  width: 100%;
  text-align: center;
  color: #fff;
  display: inline-block;
  font-size: 14px;
  margin-top: 30px;
}

.flags-laguages a.reset-lang:hover{
  text-decoration: underline;
}

.flags-laguages a.reset-lang img{
  width: 22px;
  height: auto;
  margin-right: 5px;
} */



/* Loader */

.preloader-area {
  position: fixed;
  background: var(--color-6);
  z-index: 11000;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.preloader-area .loader {
  width: 150px;
}

.preloader-area .loader img {
  width: 100%;
  margin-bottom: 5px;
}
/* Menu */

.outer-menu {
  position: fixed;
  z-index: 1;
  top: 40px;
  right: 125px;
  -webkit-transition: all 0.5s 0s ease;
  -moz-transition: all 0.5s 0s ease;
  -o-transition: all 0.5s 0s ease;
  transition: all 0.5s 0s ease;
}

.outer-menu.fixed {
  top: 40px;
  right: 10px;
}

.outer-menu .menu-title {
  position: relative;
  z-index: 3;
  display: inline-block;
  top: -30px;
  text-align: center;
  width: 60px;
  font-size: 15px;
  background: rgba(0, 0, 0, 0.65);
  border-radius: 3px;
}

.outer-menu .checkbox-toggle {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  cursor: pointer;
  width: 60px;
  height: 60px;
  opacity: 0;
}

.outer-menu .hamburger {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  width: 60px;
  height: 60px;
  padding: .5em 1em;
  background: linear-gradient(135deg, #895e1e 0%, #f0e686 25%, #895e1e 75%, #f0e686 100%);
  border-radius: 0 0.12em 0.12em 0;
  cursor: pointer;
  transition: box-shadow 0.4s ease;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: all 0.5s 0s ease;
  -moz-transition: all 0.5s 0s ease;
  -o-transition: all 0.5s 0s ease;
  transition: all 0.5s 0s ease;
}

.outer-menu:hover .hamburger {
  background-color: #4f4163;
}

.outer-menu input[type=checkbox]:checked+.hamburger {
  background-color: var(--color-8);
}

.outer-menu input[type=checkbox]:checked:hover+.hamburger {
  background-color: var(--color-9);
}

.outer-menu .hamburger>div {
  position: relative;
  flex: none;
  width: 100%;
  height: 2px;
  background: #FEFEFE;
  transition: all 0.4s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}
.whatsapp-fixed {
  position: fixed;
  bottom: 70px;
  right: 105px;
  padding: 5px 9px;
  border-radius: 50px;
  z-index: 99;
  display: inline-block;
  width: 60px;
  height: 60px;
  line-height: 70px;
  text-align: center;
  transform: translateX(-50%) translateY(-50%);
}

.whatsapp-fixed-right {
  right: -20px;
  bottom: 10px;
}

.whatsapp-fixed:before {
  content: '';
  position: relative;
  display: block;
  width: 100px;
  height: 100px;
  box-sizing: border-box;
  margin-left: -30px;
  margin-top: -25px;
  border-radius: 50%;
  background-color: #02AF00;
  animation: pulse-ring 1.25s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
}

.whatsapp-fixed:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  box-shadow: 0 0 8px rgba(0, 0, 0, .3);
  animation: pulse-dot 1.25s cubic-bezier(0.455, 0.03, 0.515, 0.955) -0.4s infinite;
  background: url("../images/wp-icon.svg") center center no-repeat #02AF00;
  background-size: 60%;
}

/* Modelos */

section.modelos {
  padding: 10px 0 30px;
  position: relative;
  background-color: #fff;
}
section.modelos .modelo {
  text-align: center;
  margin-bottom: 50px;
}
section.modelos .modelo img {
  width: 75%;
  height: auto;
}
section.modelos .modelo h4 {
  font-weight: 700;
  width: 100%;
  display: inline-block;
  margin-bottom: 25px;
  font-size: 23px;
  color: #f8bdc0;
}
section.modelos .modelo .botones-modelo {
  width: 100%;
    padding: 0 4px 0 4px;
    margin-top: -55px;
    margin-bottom: 5px;
}
section.modelos .modelo .botones-modelo a {
  font-weight: 700;
  width: 100%;
  display: inline-block;
  margin-top: 20px;
  font-size: 15px;
  /*padding: 6px 1px;*/
}
section.modelos .modelo .botones-modelo a.boton-primario {
  padding: 0px 20px;
  color: var(--color-7);
  background: none;
  margin-top: 10px;
}
section.modelos .modelo .botones-modelo a.boton-primario:hover {
  text-decoration: underline;
}
section.modelos .modelo h4 {
  font-size: 20px;
  margin-bottom: 15px;
}
section.modelos .modelo .botones-modelo {
  padding: 0 10px;
}
section.modelos .modelo {
  margin-bottom: 40px;
}
section.modelos .modelos-list {
  padding-top: 5px;
  align-items: self-end;
}
section.modelos .modelo .botones-modelo {
  width: 100%;
  padding: 0 10px;
  margin-top: -55px;
  margin-bottom: 5px;
}
section.modelos .modelo h4 {
  margin-bottom: 5px;
}
/* Banner call to action */

.banner-call-to-action {
  padding-top: 30px;
}

.banner-call-to-action:before {
  content: "";
  width: 50px;
  height: 2px;
  background: linear-gradient(135deg, #895e1e 0%, #f0e686 25%, #895e1e 75%, #f0e686 100%);
  margin-bottom: 15px;
}

.banner-call-to-action p {
  width: 50%;
  display: inline-block;
  text-align: center;
}

.banner-call-to-action .dropdown-menu.show {
  background-color: transparent;
  border: none;
  text-align: center;
  z-index: 999;
  width: 100%;
}

.banner-call-to-action .boton-primario {
  padding: 15px 40px;
  width: 100%;
}

.banner-call-to-action .dropdown-menu.show .dropdown-item {
  color: #fff;
  background-color: var(--color-6);
  margin-bottom: 5px;
  text-align: center;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  width: auto;
  padding: 5px 30px;
}

.banner-call-to-action .dropdown-menu.show .dropdown-item:hover {
  background-color: var(--color-7);
}
.features {
  list-style-type: none;
  padding: 0;
  text-align: left;
  transition: max-height 1s ease-out;
  max-height: 500px; /* Ajusta según tus necesidades */
}
.features.expanded {
  max-height: 1000px; /* Un valor alto para asegurar que todo el contenido sea visible */
}
.features li {
  margin-bottom: 10px;
  transition: max-height 0.8s ease-out, opacity 0.8s ease-out, margin-bottom 0.8s ease-out;
  max-height: 50px;
  opacity: 1;
  overflow: hidden;
}
.features li.oculto {
  max-height: 0;
  opacity: 0;
  margin-bottom: 0;
  pointer-events: none;
}
.oculto {
  opacity: 0;
  transition: opacity 0.5s ease-out;
}
.visible {
  opacity: 1;
}
#botonMostrarMas {
    color: white;
    border-radius: 50px;
    cursor: pointer;
    margin: -10px 0px 0px auto;
    width: 50%;
    padding: 8px 17px;
    background: linear-gradient(181deg, #fff2ed, #ffac8d);
    text-shadow: 1px 1px 10px #b2b2b2a1;
    border: 2px solid #fcfcfc00;
}
.btnbannerpadding{
  padding-bottom: 68px;
  text-align: center;
}
/* Responsive */

@media only screen and (max-width: 767px) {

  .btnbannerpadding{
    padding-bottom: 0px;
  }
  section.modelos {
    padding: 10px 0 0px;
  }
  .outer-menu {
    right: 15px;
  }

  .outer-menu .menu a {
    font-size: 28px
  }

  .outer-menu .menu>div {
    height: 300vh;
  }

  .title {
    font-size: 35px
  }

  p.sub-title {
    padding: 5px 10px;
    font-size: 15px;
  }
  .outer-menu.fixed {
    top: 40px;
  }

  footer .links-contactos li {
    width: 50%;
    border: none;
    height: auto;
    padding: 20px 0;
  }

  footer .links-contactos p {
    margin-top: 10px;
  }

  footer .sub-footer {
    padding-top: 50px;
  }

  footer p.copy {
    font-size: 13px;
  }

  .modal-transparent .close {
    right: 25px;
  }

  .whatsapp-fixed {
    right: calc(50% - 60px);
    bottom: 5px;
  }

  .whatsapp-fixed-right {
    right: -20px;
  }

  footer {
    padding-top: 50px;
  }

  footer .links-contactos p {
    font-size: 18px
  }

  footer img.logo-footer {
    width: 50%;
  }

  .outer-menu .menu>div>div>ul>li {
    margin: 1em 0;
  }

  #modal-form-solicitar-invitacion select {
    background-position-y: 18px;
    background-size: 18px;
  }

  .modal-transparent .modal-header,
  .modal-transparent .modal-body p.sub-title-form {
    padding: 0 20px
  }


  /* Modal Promo */

  #modal-promo .modal-content img {
    max-width: 360px;
  }

  #modal-promo .close-modal-promo {
    right: 15px;
  }

  #footer-promo {
    width: 170px;
    height: 28px;
  }

  #footer-promo a {
    line-height: 30px;
    font-size: 13px;
  }

  #footer-promo img {
    top: -47px;
    width: 120px;
  }

  /* Banner call to action */

  .banner-call-to-action p {
    width: 90%;
  }


}
section.portada-bodas .info-portada .box-info {
  color: white;
  text-shadow: 0px 6px 12px black;
  margin-top: 18%;
}
/* Responsive */
@media only screen and (max-width: 767px) {

  section.portada-bodas::after {
    background-color: rgba(71, 71, 71, 0.6);
  }

  section.portada-bodas .info-portada .box-iframe {
    display: none;
  }

  section.portada-bodas .info-portada .box-info {
    max-width: 100%;
    padding-top: 90px;
    text-align: center;
    position: relative;
    z-index: 999;
    color: white;
    text-shadow: 0px 6px 12px black;
  }

  section.portada-bodas .info-portada .box-info h1 {
    font-size: 43px;
    margin-bottom: 50px
  }

  section.portada-bodas .info-portada img.trama-circulos {
    width: 50%;
    right: 0;
    bottom: -100px;
  }

  section.caracteristicas-home .item-caracteristica .info-item {
    padding-right: 20px;
    text-align: center;
  }

  section.caracteristicas-home .item-caracteristica img {
    margin-left: 0;
    margin-bottom: 20px;
  }

  section.caracteristicas-2-home h2 {
    font-size: 45px;
    text-align: center;
  }

  section.caracteristicas-2-home .sub-title {
    text-align: center;
  }

  section.como-funciona .steps-animations-inner {
    background: none;
  }

  section.como-funciona .steps-animations-inner .container {
    background: none;
  }

  section.como-funciona .steps-animations-inner .step-1,
  section.como-funciona .steps-animations-inner .step-2,
  section.como-funciona .steps-animations-inner .step-3 {
    border-bottom: 1px solid var(--color-5)
  }

  section.como-funciona {
    padding-top: 20px;
  }

  section.como-funciona .step-number {
    padding-bottom: 15px;
  }

  section.caracteristicas-2-home .item-caracteristica-2 {
    padding: 0 30px;
  }

  section.portada-bodas .info-portada .box-info p.price {
    font-size: 18px;
  }

  section.caracteristicas-home {
    padding-top: 145px;
  }

  section.caracteristicas-home .items {
    margin-top: 50px;
  }

  section.portada-bodas .botones-portada .boton-primario {
    margin-bottom: 15px;
  }

}

section.como-funciona .step-number span.number {
  display: inline-block;
  background: linear-gradient(135deg, #895e1e 0%, #f0e686 25%, #895e1e 75%, #f0e686 100%);
  width: 50px;
  height: 50px;
  line-height: 50px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 20px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.30), 0 5px 10px 0 rgba(131, 85, 85, 0.30);
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}

.full-imgprincipal {
  height: 100%;
  width: 100%;
  max-width: 100%;
  object-fit: cover;
}

@media (max-width: 767px) {
  .full-imgprincipal {
    height: 839px;
  }
}
.imgBannera {
  width: 100%;
  height: auto;
  border-radius: 20px;
  box-shadow: -5px 9px 10px #9c9c9c;
}

.imgBannerrsvp {
  width: 100%;
  height: auto;
  border-radius: 20px;
  box-shadow: -5px 9px 10px #9c9c9c;
  display: block;
}

@media (max-width: 767px) {
  .imgBannerrsvp {
    display: none;
  }
}

.imgBannerrsvomovil {
  display: none;
}

@media (max-width: 767px) {
  .imgBannerrsvomovil {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 20px;
    box-shadow: -5px 9px 10px #9c9c9c;
  }
}
.paddtp-100{
  padding-top: 12px;
}
  section.portada-vipaccess .info-portada-vipaccess .box-info {
      padding-top: 5%;
  }
  .mtop3060{
    margin-top:30px
  }
  section.portada-vipaccess {
    height: 90vh;
      position: relative;
      max-height: 933px;
  }
  .bannimgdemoweb {
    filter: drop-shadow(2px 4px 6px black);
}
@media only screen and (max-width: 767px){
  section.como-funciona {
      padding-top: 8% !important;
  }
  section.portada-vipaccess .info-portada-vipaccess .box-info {
    padding-top: 40% !important;
}
section.portada-vipaccess {
  height: 100%;
  max-height: none;
  padding-bottom: 0px !important;
}
section.portada-vipaccess .info-portada-vipaccess .box-dispositivos {
  max-width: 75%;
  margin-top: 45px;
}
.bannimgdemoweb {
  margin-top: -26%;
}
section.como-funciona .step-number {
    padding-bottom: 0px;
}
.mtop3060{
margin-top: -70px
}
}
section.como-funciona .step-number {
    text-align: center;
    padding: 0px 0px;
}
.divisionmorada{
  content: "";
    width: 50px;
    height: 2px;
    background-color: #8673a1;
    margin-bottom: 15px;
}
.responsive-banner{
  margin: 0px 0 40px 0;
}


/*REVIEWS FB*/
.texttitslider{
  font-weight: 700;
  width: 100%;
  display: inline-block;
  margin-bottom: 5px;
  font-size: 23px;
  text-align: center;
}
.review {
  text-align: center;
  font-size: 18px;
  background: #f2f2f2;
  height: max-content;
  padding: 24px;
  border-radius: 8px;
}

.review img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.swiper-pagination-bullet {
  width: 7px;
  height: 7px;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  color: #000;
  opacity: 1;
  background: rgba(0, 0, 0, 0.2);
}

.swiper-pagination-bullet-active {
  color: #fff;
  background: #197bff;
}

.bxloCP {
width: 100%;
line-height: 23px;
color: rgb(17, 17, 17);
font-size: 16px;
border-radius: 8px;
}
.YusbI {
position: relative;
overflow: hidden;
transition-duration: 0s !important;
text-align: left;
}
.fa-star{
color: #fcbf02;
}
.fa-facebook-square{
color: #197bff;
font-size: 30px;
margin-right: 5px;
}
.textrev{
font-size: 12px; 
color: rgba(17, 17, 17, 0.5);
display: table-footer-group;
line-height: 118%;
}
.nombrefb{
font-size: 16px; 
color: rgba(17, 17, 17, 0.5);
display: table-footer-group;
line-height: 118%;
}
.fotoperfilfb{
width: 40px;
height: 40px;
position: relative;
margin-right: 15px;
}
.fRYNlR {
position: relative;
width: 40px;
height: 40px;
box-shadow: rgba(17, 17, 17, 0.1) 0px 0px 2px inset;
border-radius: 50%;
overflow: hidden;
}
.gJOYgw {
width: inherit;
height: inherit;
transition: opacity 1s ease-out 0s;
background-color: rgb(210, 210, 210);
opacity: 1;
border-radius: 50%;
overflow: hidden;
}
.UobXQ {
display: inline-block !important;
position: static !important;
margin: 0px !important;
padding: 0px !important;
max-width: none !important;
height: inherit !important;
width: inherit !important;
visibility: visible !important;
}

.gtiuwG {
display: flex;
flex-wrap: wrap;
-webkit-box-pack: justify;
justify-content: space-between;
-webkit-box-align: center;
align-items: center;
padding: 18px 24px 24px;
background-color: rgba(17, 17, 17, 0.05);
margin-bottom: 15px;
}
.eJbfvz {
margin-right: 24px;
}
.ittcQw {
width: 100%;
display: flex;
-webkit-box-align: center;
align-items: center;
white-space: nowrap;
color: rgb(17, 17, 17);
font-size: 20px;
}
.iwosRd {
margin-right: 8px;
}
.croLud > div {
width: inherit;
height: inherit;
}
.fEZcxc svg {
background: none;
}
.croLud img, .croLud svg {
display: block;
object-fit: contain;
height: 36px;
}
svg {
overflow: hidden;
vertical-align: middle;
}
.hiuJfK {
line-height: 1.8em;
}
.igxRbY {
display: flex;
flex-wrap: wrap;
-webkit-box-align: center;
align-items: center;
}
.jHuwCI {
display: flex;
-webkit-box-align: center;
align-items: center;
justify-content: left;
}
.grMzUy:first-child:not(:only-child) {
margin-right: 8px;
}
.grMzUy {
font-weight: 700;
line-height: normal;
font-size: 20px;
color: rgb(17, 17, 17);
word-break: normal !important;
}
.fIgssJ:not(:only-child) > :last-child {
margin-right: 12px;
}
.eyLxdR {
display: inline-flex;
flex-wrap: nowrap;
-webkit-box-align: center;
align-items: center;
}
.ga-dIYY:not(:last-of-type) {
margin-right: 0px;
}
.ga-dIYY {
position: relative;
width: 20px;
height: 20px;
}
.fXNqIK {
border-radius: 8px;
color: #000000;
}
.bXVxrw {
inset: 0px;
margin: auto;
line-height: 0;
}
.fEZcxc svg {
background: none;
}
.bXVxrw svg {
position: static !important;
width: 100% !important;
height: 100% !important;
}
.cHATJH path {
fill: rgb(252 191 2) !important;
}
.XXlQN {
overflow: hidden;
font-weight: 400;
line-height: 1.8;
align-self: flex-end;
font-size: 12px;
color: rgba(17, 17, 17, 0.5);
display: flex;

}
.cusKyc {
display: inline;
}
.botonazulreview{
border-radius: 4px; 
border-color: rgba(0, 0, 0, 0); 
color: rgb(255, 255, 255); 
font-family: inherit; 
font-weight: bold; 
font-size: 15px; 
background-color: rgb(25, 123, 255); 
border-width: 2px;
padding: 5px;
margin-top: 5px;
}
